html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    font-family: 'IBM Plex Sans', sans-serif;
	margin: 2px;
}

header {
    background-color: #361959;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #642EA7;
    border-bottom: 15px solid #D99138;
}

.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 20px 14px;
    text-decoration: none;
	font-size: 1.4em;
}
.navbar a:hover {
    background-color: #D6A800;
    color: #4F3674;
}

.image{
padding-top: 2em; 
}
.hobbies {
    min-height: 250px;

}

.experience {
    min-height: 250px;
}
.contact-container {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10%;
}

.full-width {
    width: 100%;
}

.grid-3-col {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
}

.about {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 95%;
	padding-left: 1em; 
	margin-left: 0; 
	font-size: 1.1em;
	}

.abt-title{
 font-size: 1.7em;
 color: #4F3674;
 font-weight: 400;
 padding-top: 0.5em;
 font-weight: bold;
}
.hobbies{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 95%;
	padding-left: 1em;
	font-size: 1.1em;
	
}


.hoby-title{
 font-size: 1.7em;
 color: #4F3674;
 font-weight: 400;
 padding-bottom: 0.5em;
  padding-top: 0.5em;
 font-weight: bold;
}
.hoby-title1{
 font-size: 1.7em;
 color: #4F3674;
 font-weight: 400;
 padding-bottom: 0.5em;
  padding-top: 0.5em;
   font-weight: bold;
}
.hoby-title2{
 font-size: 1.7em;
 color: #4F3674;
 font-weight: 400;
 padding-bottom: 0.5em;
  padding-top: 0.5em;
   font-weight: bold;
}
.accomplishments{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 95%;
	padding-left: 1em;
	font-size: 1.5em;
}
.accomplishment-title{
 font-size: 1.7em;
 color: #4F3674;
 font-weight: 400;
 padding-bottom: 0.5em;
  padding-top: 0.5em;
 font-weight: bold;
}
.goal1-title{
 font-size: 1.7em;
 color: #4F3674;
 font-weight: 400;
 padding-bottom: 0.5em;
  padding-top: 0.5em;
 font-weight: bold;
}
.goal2-title{
 font-size: 1.7em;
 color: #4F3674;
 font-weight: 400;
 padding-bottom: 0.5em;
  padding-top: 0.5em;
 font-weight: bold;
}
figcaption{
font-size: 0.5em;
}
.contact-container {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10%;
}

.full-width {
    width: 100%;
}

.grid-3-col {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
}



.card-title {
    text-align: center;
    font-size: 2em;
    color: #4F3674;
    font-weight: 400;
	padding-right: 30em;
	 font-weight: bold;
}

.card-content {
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 20%;
	
}

.form-field {
    padding: 20px;
	padding-right: 30em;
}

.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    padding: 10px 32px;
    color: #000;
	padding-right: 30em;
}

.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #4F3674;
    color: #fff;
}

.btn-primary:hover {
    background-color: #D6A800;
    color: #4F3674;
}

.full-width {
    width: 100%;
}